<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>《Vue.js实战》-2  指令</title>
    </head>
    <body>

        <div id="app-1">
            <p v-if="show">显示这段文本</p>
            <!-- v-on 绑定事件监听器 -->
            <!-- v-on: 可以简写为 @ -->
            <!-- <button @click="show=false">点击隐藏</button> -->
            <!-- 在methods中声明方法有更好的可读性 -->
            <button @click="handleClose">点击隐藏</button>
        </div>

        <div id="app-2">
            <!-- Vue提供了特殊变量$event用以访问原生的DOM事件 -->
            <a href="first.html" @click="handleClick('禁止打开',$event)">禁止连接</a>
            <!-- event.preventDefault();可以用@click.prevent代替 -->
            <!-- 事件修饰符 .stop  .prevent  .capture  .self  .once -->
        </div>

        <div id="app-3">
            <!-- v-html插入HTML -->
            <span v-html="link"></span>
        </div>

        <div id="app-4">
            <!-- v-bind将元素中的某一属性和data中的属性双向绑定 -->
            <!-- v-bind: 可以简写为 : -->
            <a :href="url">v-bind链接</a>
        </div>

        <div id="app-5">
            <ul>
                <li v-for="(book,index) in books">{{index}} - {{book.name}}</li>
            </ul>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            var app1 = new Vue({
                el:'#app-1',
                data:{
                    show:true
                },
                methods:{
                    init:function(text){
                        console.log(text);
                    },
                    handleClose:function(){
                        this.close();//像访问data一样，可以通过这种方式来访问方法
                    },
                    close:function(){
                        this.show=false;
                    }
                },
                mounted:function(){
                    this.init('在初始化时调用');
                }
            });

            var app2 = new Vue({
                el:'#app-2',
                methods:{
                    handleClick:function(message,event){
                        // 该方法通知浏览器取消动作
                        event.preventDefault();
                        window.alert(message);
                    }
                }
            })

            var app3 = new Vue({
                el: '#app-3',
                data: {
                    link: '<a href="officialTest.html">v-html插入链接</a>'
                }
            });

            var app4 = new Vue({
                el:'#app-4',
                data:{
                    url:'first.html'
                }
            });

            var app5 = new Vue({
                el:'#app-5',
                data:{
                    books:[
                        {name:'Tom'},
                        {name:'Jhon'},
                        {name:'Lee'}
                    ]
                }
            });
        </script>
    </body>
</html>