<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>《Vue.js实战》-2  指令</title>
    </head>
    <body>

        <div id="app-1">
            <p v-if="show">显示这段文本</p>
            <!-- v-on 绑定事件监听器 -->
            <!-- v-on: 可以简写为 @ -->
            <!-- <button @click="show=false">点击隐藏</button> -->
            <!-- 在methods中声明方法有更好的可读性 -->
            <button @click="handleClose">点击隐藏</button>
        </div>

        <div id="app-2">
            <!-- Vue提供了特殊变量$event用以访问原生的DOM事件 -->
            <a href="first.html" @click="handleClick('禁止打开',$event)">禁止连接</a>
            <!-- event.preventDefault();可以用@click.prevent代替 -->
            <!-- 事件修饰符 .stop  .prevent  .capture  .self  .once -->
        </div>

        <div id="app-3">
            <!-- v-html插入HTML -->
            <span v-html="link"></span>
        </div>

        <div id="app-4">
            <!-- v-bind将元素中的某一属性和data中的属性双向绑定 -->
            <!-- v-bind: 可以简写为 : -->
            <a :href="url">v-bind链接</a>
        </div>

        <div id="app-5">
            <ul>
                <li v-for="(book,index) in books" @click="showBook(book,index)">{{index}} - {{book.name}}</li>
            </ul>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="/directive/main.js"></script>
    </body>
</html>