<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>《Vue.js实战》-6 组件</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app-1">
            <my-component-1></my-component-1>
        </div>
        <br>

        <div id="app-2">
            <my-component-2></my-component-2>
        </div>
        <br>

        <div id="app-3">
            <table>
                <my-component-3></my-component-3>
                <!-- 元素限制，table内只允许<tr><th><td>等表格元素，可以通过is属性来挂载组件 -->
                <tbody is="my-component-3"></tbody>
            </table>
            <!-- 不使用is的渲染结果，没有table
            <div>这里是组件的内容</div> -->

            <!-- 使用is的渲染结果
            <table>
                <div>这里是组件的内容</div>
            </table> -->
        </div>
        <br>

        <div id="app-4">
            <my-button-1></my-button-1>
            <my-button-1></my-button-1>
            <my-button-1></my-button-1>
        </div>
        <br>

        <div id="app-5">
            <my-button-2></my-button-2>
            <my-button-2></my-button-2>
            <my-button-2></my-button-2>
        </div>
        <br>

        <!-- 组件通信 -->
        <div id="app-6">
            <my-component-4 packet="来自父组件的数据"></my-component-4>
        </div>
        <br>

        <!-- 动态绑定props的值 -->
        <div id="app-7">
            <!-- v-model静态绑定parentMessage -->
            <input type="text" v-model="parentMessage">
            <!-- message与parentMessage动态双向绑定 -->
            <my-component-5 :message="parentMessage"></my-component-5>
        </div>
        <br>

        <!-- 子组件作用域内修改 -->
        <div id="app-8">
            <my-component-6 :initcount="1"></my-component-6>
        </div>
        <br>

        <!-- 自定义事件传参，子传父 -->
        <div id="app-9">
            <p v-clock>总数：{{total}}</p>
            <my-component-7
                @increase="handleGetTotal"
                @reduce="handleGetTotal"></my-component-7>
        </div>
        <br>

        <!-- 语法糖，通过v-model完成绑定 -->
        <div id="app-10">
            <p v-clock>总数：{{total}}</p>
            <my-component-8 v-model="total"></my-component-8>
        </div>
        <br>

        <!-- bus总线 -->
        <div id="app-11">
            <my-component-9></my-component-9>
            {{message}}
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/component/main.js"></script>
</html>